<div><br></div>
<h2>Educational Details</h2>
<div class="container">
        <input type="text" style="padding:  10px 10px 10px 10px" placeholder="search by empolyee name"/>
        <button class="btn btn-primary">search</button>
    </div>

<div class="container">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
                <th>#</th>
              <th scope="col">Degree</th>
              <th scope="col">Marks</th>
              <th scope="col">Stream</th>
              <th scope="col">College</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of edu">
                    <th scope="row">{{b.id1}}</th>
              <td>{{b.degree}}</td>
              <td>{{b.marks}}</td>
              <td>{{b.stream}}</td>
              <td>{{b.college}}</td>
              <td><a class="btn btn-primary" routerLink="/disp/:id">View</a></td>
                <td><a class="btn btn-info" (click)="del1()">Delete</a></td>
            
            
    
            </tr>
        
          </tbody>
        </table>
      </div>
     
    
